body{
    background-image: linear-gradient(135deg, rgb(117, 176, 239), rgb(241, 88, 88));
    background-repeat: no-repeat;
    display:grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.display{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(127, 255, 219, 0.185);
    border-radius: 10px;
}
.display > * {
    font-size: 4rem;
    font-weight: bold;
}
.but{
    display: flex;
    justify-content: center;
    align-items: center;
}
.but > *{
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: green;
    font-size: 1.5rem;
}
.but > *:hover{
    background-color: rgb(7, 228, 7);
    box-shadow: 2px 2px 5px rgb(7, 228, 7);
}
.but > *:active{
    background-color: rgb(5, 138, 50);
    box-shadow: 2px 2px 5px rgb(5, 138, 50);
}